.header {
  height: 46px;
  position: fixed;
  top: 0;
  left: 15%;
  right: 0;
  z-index: 9999999999999;
  padding-left: 16px;
  display: flex;
  align-items: center;
  background-color: #fff;

  img {
    width: 20px;
    height: 20px;
    object-fit: cover;
    margin-right: 8px;
  }

  span {
    font-size: 14px;
    color: rgb(55, 53, 47);
  }
}
